
 @font-face { font-style : normal; src: url("assets/fonts/salsaregular400.ttf"); font-family : "Salsa"; font-weight : 400;  }
 @font-face { font-style : bold; src: url("assets/fonts/robotorobotoromanmedium500.ttf"); font-family : "Roboto"; font-weight : 500;  }