:root { 
--gray_700:#5f5f5f; 
--blue_900:#001dc0; 
--gray_500:#a2a2a2; 
--bluegray_100:#d3d3d3; 
--black_900_0c:#0000000c; 
--gray_200:#efeeeb; 
--gray_300:#e0e0e0; 
--gray_201:#efefef; 
--gray_100:#f7f5f0; 
--green_A400:#03fa75; 
--black_900:#000000; 
--bluegray_200:#b5b7c0; 
--white_A700:#ffffff; 
--red_A700:#ff0000; 
}